.form-control {
  width: 200px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control:-moz-placeholder {
  color: #777;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control[disabled],
.form-control[readonly],


.SearchBtn {
    background: rgba(0, 0, 0, 0) url("../images/SearchBtn.png") no-repeat scroll left top;
    border: medium none;
    cursor: pointer;
    height: 23px;
    width: 32px;
}
.SearchBtn_on {
    background: rgba(0, 0, 0, 0) url("../images/SearchBtn.png") no-repeat scroll left bottom;
    border: medium none;
    cursor: pointer;
    height: 23px;
    width: 32px;
}
.owner_btn_primary{
            background: #5cbdf4 none repeat scroll 0 0;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #ffffff;
            cursor: pointer;
            height: 34px;
            margin-left: 10px;
}
.owner_btn_warning{
              background: #f0ad4e none repeat scroll 0 0;
              border: 1px solid transparent;
              border-radius: 4px;
              color: #ffffff;
              cursor: pointer;
              height: 34px;
 }

