<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="./js/angular.min.js"></script>
<script src="./scripts/smlServer.js"></script>
</head>
<body ng-app="smlApp" ng-controller="serverCtrl">
	<div class="container">
		<button class="btn btn-success" ng-click="masterInit()">
			<span class="glyphicon glyphicon-cloud"></span>管理服务
		</button>
		<table class="table table-striped">
			<thead>
				<tr>
					<th nowrap="nowrap">服务url</th>
					<th nowrap="nowrap">进程号</th>
					<th nowrap="nowrap">主机名</th>
					<th nowrap="nowrap">已用内存(M)</th>
					<th nowrap="nowrap">总内存(M)</th>
					<th nowrap="nowrap">内存使用率(%)</th>
					<th nowrap="nowrap">启动时间</th>
					<th nowrap="nowrap">活动线程数</th>
					<th nowrap="nowrap">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ masterServer.serverName}}</td>
					<td>{{ masterServer.pid }}</td>
					<td>{{ masterServer.host }}</td>
					<td>{{ masterServer.useMemory }}</td>
					<td>{{ masterServer.maxMemory }}</td>
					<td>{{ masterServer.useMemoryUtility }}</td>
					<td>{{ masterServer.upTime }}</td>
					<td>{{ masterServer.activeCount }}</td>
					<td>
						<button class="btn" ng-click="setLogUrl('./status/log')">
							<span class="glyphicon glyphicon-console"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<button class="btn btn-success" ng-click="init()">
			<span class="glyphicon glyphicon-cloud"></span>已注册服务:{{active+unactive}}(可用:{{active}},失效:{{unactive}})
		</button>
		<table class="table table-striped">
			<thead>
				<tr>
					<th nowrap="nowrap">服务url</th>
					<th nowrap="nowrap">进程号</th>
					<th nowrap="nowrap">主机名</th>
					<th nowrap="nowrap">已用内存(M)</th>
					<th nowrap="nowrap">总内存(M)</th>
					<th nowrap="nowrap">内存使用率(%)</th>
					<th nowrap="nowrap">启动时间</th>
					<th nowrap="nowrap">线程数</th>
					<th nowrap="nowrap">状态</th>
					<th nowrap="nowrap">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="server in servers">
					<td>{{server.serverName}}</td>
					<td nowrap="nowrap">{{ server.pid }}</td>
					<td >{{ server.host }}</td>
					<td nowrap="nowrap">{{ server.useMemory }}</td>
					<td nowrap="nowrap">{{ server.maxMemory }}</td>
					<td nowrap="nowrap">{{ server.useMemoryUtility }}</td>
					<td nowrap="nowrap">{{ server.upTime }}</td>
					<td nowrap="nowrap">{{ server.activeCount }}</td>
					<td nowrap="nowrap">{{ server.status }}</td>
					<td nowrap="nowrap">
						<button class="btn" ng-click="remove(server)">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<button class="btn" ng-click="setLogUrl(server)">
							<span class="glyphicon glyphicon-console"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<button class="btn btn-success" ng-click="logshow()">
			<span class="glyphicon glyphicon-console"></span>&nbsp;日志监控
		</button>
		    <input type="text" ng-model='log.url' style='width:10%' class="input-xlarge" disabled="disabled">
			charset:<input type="text" style='width:10%' class="input-xlarge" ng-model="log.charset">
			words:<input type="text" style='width:10%' class="input-xlarge" ng-model="log.words">
			<button class="btn btn-danger" ng-click="clearLogContent()">
							<span class="glyphicon glyphicon-remove">&nbsp;清除</span>
			</button>
		<div>
			<textarea rows="15"  style="width:100%" ng-model="log.content">
				{{log.content}}
			</textarea>
		</div>
		<hr>
		<div class="muted">
		 	Copyright &copy; 2017-2018&nbsp;service-manager&nbsp;&nbsp;All&nbsp;&nbsp; Rights&nbsp;&nbsp; Reserved.&nbsp;<strong>hw</strong>
		</div>
	</div>
</body>
</html>